@model Ticketing.Models.Issue

@{
    ViewBag.Title = "Delete";
}

<h2>@TicketingUI.Delete</h2>

<h3>@TicketingUI.DeleteCertain</h3>
<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationGebruiker.Voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationGebruiker.Voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruiker.Voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruiker.Voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrioriteitInfo.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrioriteitInfo.Omschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolverGebruiker.Voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolverGebruiker.Voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusInfo.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusInfo.Omschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onderwerp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onderwerp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumAanpassing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumAanpassing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumAangemaakt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumAangemaakt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teruggestuurd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teruggestuurd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RedenTeruggestuurd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedenTeruggestuurd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@TicketingUI.Delete" class="btn btn-default" /> |
            @Html.ActionLink(TicketingUI.IssueBackToList, "Index")
        </div>
    }
</div>
